<!DOCTYPE html>

<html>

<head>
    <title>Info</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{flash}}
        <p>Welcome to ShitOn.GG, the simplest way to earn real crypto for your Call of Duty skills.</p>
        <p>Compete online in hourly tournaments by betting either 500, 1000, or 1500 tokens. 
        If you finish in the top 30% of players for your timeframe and skill level (ex. 5-6pm UTC, diamond 1) you will earn a return!</p>
        <p>Cash out whenver you want via DOGE, BTC or a Giftcard</p>
        <h2>Skill Levels</h2>
        <!--<p>Platinum</p>-->
        <p>Tf Bro (Potential Hacker/Exceptional Talent)</p>
        <p>Diamond (K.D above 2.5)</p>
        <p>Gold (K.D between 1.7 and 2.5)</p>
        <p>Silver (K.D between )</p>
        <p>Bronze (K.D above 2.5)</p>

        <h2>Tournament Hours Every Day! (UTC Time)</h2>
        <!--<p>Platinum</p>-->
        <div style="display: flex;">
            <div>
                <p>00:00-01:00</p>
                <p>01:00-02:00</p>
                <p>02:00-03:00</p>
                <p>03:00-04:00</p>
                <p>04:00-05:00</p>
                <p>05:00-06:00</p>
                <p>06:00-07:00</p>
                <p>07:00-08:00</p>
                <p>08:00-09:00</p>
                <p>09:00-10:00</p>
                <p>10:00-11:00</p>
                <p>11:00-12:00</p>
            </div>
            
            <div style="margin-left: 20px;">
                <p>12:00-13:00</p>
                <p>13:00-14:00</p>
                <p>14:00-15:00</p>
                <p>15:00-16:00</p>
                <p>16:00-17:00</p>
                <p>17:00-18:00</p>
                <p>18:00-19:00</p>
                <p>19:00-20:00</p>
                <p>20:00-21:00</p>
                <p>21:00-22:00</p>
                <p>22:00-23:00</p>
                <p>23:00-00:00</p>
            </div>
        </div>
        <h2>How its Scored</h2>
        <!--<p>Platinum</p>-->
        <p>1 Kill = 1 Point</p>
        <p>1st = 10 Points</p>
        <p>2nd = 9 Points</p>
        <p>3rd = 8 Points</p>
        <p>4th = 7 Points</p>
        <p>5th = 6 Points</p>
        <p>6th = 5 Points</p>
        <p>7th = 4 Points</p>
        <p>8th = 3 Points</p>
        <p>9th = 2 Points</p>
        <p>10th = 1 Points</p>
        
        <!--<p>Wood</p>
        <p>Dirt</p>-->
    </div>
    
    {{>footer}}
</body>

</html>