<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>Weather</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        {{>header}}
        <div class="main-content">
            <p>Fuck me Nigga</p>
        </div>
        <div>
            {{>footer}}
        </div>
    </body>
</html>